[Unit]
Description=Wayclip Daemon
After=pipewire.service xdg-desktop-portal.service graphical-session.target
Wants=xdg-desktop-portal.service
PartOf=graphical-session.target

[Service]
ExecStart=/home/kony/Documents/GitHub/app/target/debug/wayclip-cli-linux --daemon
Restart=on-failure
RestartSec=5s
Type=notify
PassEnvironment=WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE
Environment="RUST_LOG=trace,gilrs=warn,gilrs_core=warn"
Environment=GLOBAL_HOTKEY_APP_ID=com.wayclip.daemon
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
